// Colors
$fontColor: #717175;
$fontColor-Strong: #313141;

$activeColor: #5375e7;
$errorColor: rgb(186, 37, 37);

$cold: rgb(218, 218, 243);
$warm: rgb(252, 211, 217);
$hot:rgb(246, 151, 151);



// Page Layout
.pageTop{
  padding-top: 3.5rem;
}
.pageBottom{
  padding-bottom: 2rem;
}
.pageLeft{
  padding-left: 3.5rem;
}
.pageRight{
  padding-right: 3.5rem;
}
.pageContainer{
  padding-top: 3.5rem;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  padding-bottom: 2rem;
}

// Reused Page Component
.pageComponent{
  background: white;
  padding: 2rem;
  border-radius: 1rem;
  margin-bottom: 3rem;
}
.pageComponent_Title{
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 3rem;
  padding-left: 2rem;
  position: relative;
}
.pageComponent_Title::before{
  content: " ";
  width: .5rem;
  height: 100%;
  background: $fontColor-Strong;
  position: absolute;
  left: 0;
  border-radius: .3rem;
}

// Utility Classes
.blinkTransition{
  transition: all .2s;
}

.verticallyCenter{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fillArea{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
  max-height: 100vh;
}

